<div class="col-md-6" *ngIf="showAdminBoard">
    <hr class="hr">
    <h2 class="text-center">Liste des profils</h2>
    <hr class="hr">
    <button class="btn bt" (click)="openModalAddProfil(addPaysModal)">Nouveau Profil</button>
    <br><br>
    <div class="form-group">
      <input type="text" style=" border-left: 5px solid #9d4cbd; border-color: #9d4cbd;" class="form-control" placeholder="Chercher" [(ngModel)]="term">
  </div>
    <ng-template #addPaysModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="addProfilModal">Ajouter Profil</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <form [formGroup]="addProfilForm" (ngSubmit)="addProfil()">
                <div class="form-row">
                    <div class="form-group  col-6">
                        <label for="libelle" class="lab">Libelle :</label>
                        <input type="text" name="libelle" id="libelle" formControlName="libelle" class="form-control">
                        <div *ngIf="libelle?.touched">
                            <small *ngIf="libelle?.errors?.required" class="text-danger">Ce champ est
                                obligatoire</small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn2"
                        [disabled]="addProfilForm.invalid">Enregistrer</button>
                    <button type="button" (click)="modal.dismiss()" class="btn btn-danger">Fermer</button>
                </div>
            </form>
        </div>
    </ng-template>
    <table class="table" id="tab">
        <thead class="head">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Libelle</th>
                <td scope="col"></td>
                <td scope="col"></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let profil of profils| filter:term">
                <th>{{profil.id}}</th>
                <td>{{profil.libelle}}</td>
                <td>
                    <div class="edit" (click)="openModalEditProfil(editProfilModal, profil)"> <i class="fa fa-edit"
                            aria-hidden="true"></i></div>
                </td>
                <td>
                    <div class="trash" (click)="supprimer(profil.id)"> <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </td>
                <ng-template #editProfilModal let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfilModal">Modifier Profil</h5>
                        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form [formGroup]="editProfilForm" (ngSubmit)="editProfil(profil.id)">
                            <div class="form-row">
                                <div class="form-group  col-6">
                                    <label for="libelle" class="lab">Libelle :</label>
                                    <input type="text" name="libelle" id="libelle" formControlName="libelle"
                                        class="form-control">
                                    <div *ngIf="libelle?.touched">
                                        <small *ngIf="libelle?.errors?.required" class="text-danger">Ce champ est
                                            obligatoire</small>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger" [disabled]="!editProfilForm.valid">Enregistrer</button>
                                <button  type="button" (click)="modal.dismiss()" class="btn btn-danger">Fermer</button>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!showAdminBoard" >
    <!-- <app-page404></app-page404> -->
    
    <meta http-equiv="refresh" content="0; url=http://localhost:4200/Page404">
</div>