<div class="col" *ngIf="showUserBoard">
    <hr class="hr">
    <h2 class="text-center">Nouveau Formateur</h2>
    <hr class="hr">
    <h3 class="title1">Merci de rensigner ces données.</h3>

    <form [formGroup]="addFormateurForm" (ngSubmit)="addFormateur()">
        <div class="form-row">
            <div class="form-group  col-6">
                <label for="nom">Nom :</label>
                <input type="text" name="nom" id="nom" formControlName="nom" class="form-control">
                <div *ngIf="nom?.touched">
                    <small *ngIf="nom?.errors?.required" class="text-danger">Ce champ est obligatoire</small>
                </div>
            </div>
            <div class="form-group   col-6">
                <label for="prenom">Prénom :</label>
                <input type="text" name="prenom" id="prenom" formControlName="prenom" class="form-control">
                <div *ngIf="prenom?.touched">
                    <small *ngIf="prenom?.errors?.required" class="text-danger">Ce champ est obligatoire</small>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6 ">
                <label for="email">E-mail :</label>
                <input type="text" name="email" id="email" formControlName="email" class="form-control">
                <div *ngIf="email?.touched && email?.invalid">
                    <small *ngIf="email?.errors?.required" class="text-danger">Ce champ est obligatoire<br></small>
                    <small *ngIf="email?.errors?.email" class="text-danger"> L'Email est invalide<br></small>
                </div>
            </div>
            <div class="form-group col-6 ">
                <label for="tel">Téléphone :</label>
                <input type="text" name="tel" id="tel" formControlName="tel" class="form-control">
                <div *ngIf="tel?.touched && tel?.invalid">
                    <small *ngIf="tel?.errors?.required" class="text-danger">Ce champ est obligatoire<br></small>
                    <small *ngIf="tel?.errors?.pattern" class="text-danger"> Le tel est invalide<br></small>
                    <small *ngIf="tel?.errors?.minlength" class="text-danger">Le tel doit contenir au moins 8
                        caractères</small>
                    <small *ngIf="tel?.errors?.maxlength" class="text-danger">Le tel doit contenir au maximum 8
                        caractères </small>
                </div>
            </div>
        </div>
        <div class="form-group ">
            <label for="type">Type :</label>
            <br>
            <select class="  form-select " name="type" id="type" formControlName="type" class="form-control"
                (change)="selectChangeHandler1($event)">
                <option [selected]=true>Choisir un type</option>
                <option value="interne">Interne</option>
                <option value="externe">Externe</option>
            </select>
            <div *ngIf="type?.touched">
                <small *ngIf="type?.errors?.required" class="text-danger">Ce champ est obligatoire</small>
            </div>
        </div>
        <div class="form-group ">
            <label for="organisme">Organisme :</label>
            <br>
            <select class="form-select " name="organisme" id="organisme" formControlName="organisme"
                class="form-control" (change)="selectChangeHandler($event)">
                <option [selected]=true>Choisir un organisme</option>
                <option value="{{organisme.id}}" *ngFor="let organisme of organismes">{{organisme.libelle}}</option>
            </select>
            <div *ngIf="organisme?.touched">
                <small *ngIf="organisme?.errors?.required" class="text-danger">Ce champ est obligatoire</small>
            </div>
        </div>
        <div class="form-group ">
            <button type="reset"[disabled]=""  class="btn"><b>Annuler </b></button>
            <button type="submit" [disabled]="addFormateurForm.invalid" class="btn">ENREGISTRER</button>
        </div>
    </form>

</div>
<div *ngIf="!showUserBoard" >
   
   
   <meta http-equiv="refresh" content="0; url=http://localhost:4200/Page404">
</div>