
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
.text-center{
    color:#ad249b;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}

.title {
  text-align: center;
   color: white;
   padding-top: 50px;
   font-family: "Gill Sans", sans-serif;
   font-weight: bold;

}

.rect {
   width: 180px;
   height: 300px;
   margin: 0 auto; 
   background-color: whitesmoke;
   margin-top: 20%;
   border-radius: 25%;   

  
}
.title1{
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: #55194d; 
 }




 .label {
    font-weight: bold;
}
.text-center{
    color:#ad249b;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}
.text{
    color:#9973a1;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    text-align: center;
}
.col{
    width: 80%;
    left: 9%;
    right: 5%;
    margin-top: 2%;
}


.btn {
    margin: 10px;
    float: right;
    width: 150px;
    border-color: #9973a1; 
    background-color: white ;
    color: #8b227d;

}

.btn:hover {
    background-color: #9973a1;
    color: #8b227d;
}

.bt2 {
    margin: 10px;
    float: right;
    width: 150px;
    border-color: #9973a1; 
    background-color: white ;
    color: #8b227d;
}
.bt2:hover {
    background-color: #8b227d;
    color: #ae00ff;
}

.col-md-6 {
    left: 25%;
    right: 25%;
    margin-top: 150px;
}
input {
    border-left: 5px solid #ae00ff;
}
.alert {
    margin-top:2%;
}

#type, #organisme, #domaine, input {
    border-left: 5px solid #ae00ff; 
}

.text-center{
    color:#ad249b;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}
.text{
    color:#9973a1;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    text-align: center;
}

.text{
    color:#9973a1;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    text-align: center;
}
.fa {  
    margin-left: 40%;
    margin-top: 5%;
    color: rgb(121, 24, 88);
    font-size: 25px;  
 }

.col{
    width: 80%;
    left: 9%;
    right: 5%;
    margin-top: 2%;
}
.container {
    margin-top: 5%;
}

.text {
    text-align: center
}