<div class="col-md-6" *ngIf="showAdminBoard">
    <hr class="hr">
    <h2 class="text-center">Liste des utilisateurs</h2>
    <hr class="hr">
    <br><br>
    <div class="form-group">
      <input type="text" style=" border-left: 5px solid #1A5276; border-color: #1A5276;" class="form-control" placeholder="Chercher" [(ngModel)]="term">
    </div>
    <table class="table" id="tab">
        <thead class="head">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">E-mail</th>
                <th scope="col">Nom d'utilisateur</th>
                <td scope="col"></td>
                <td scope="col"></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | filter:term">
                <th>{{user.id}}</th>
                <td>{{user.nom}}</td>
                <td>{{user.prenom}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td>
                    <div class="edit" (click)="openModal(editUserModal, user)"> <i class="fa fa-edit"
                            aria-hidden="true"></i></div>
                </td>
                <td>
                    <div class="trash" (click)="supprimer(user.id)" > <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </td>
                <ng-template #editUserModal let-modal>
                    <div class="modal-header">
                      <h5 class="modal-title" id="editUserModal">MODIFIER UTILISATEUR</h5>
                      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
            
                    <div class="modal-body">
                      <form [formGroup]="editUserForm" (ngSubmit)="onSubmit(user.id)" >
                        <div class="form-row">
                          <div class="form-group col-6">
                            <label for="nom" class="lab">Nom :</label>
                            <input type="text" name="nom" id="nom" formControlName="nom" class="form-control">
                            <div *ngIf="nom?.touched">
                              <small *ngIf="nom?.errors?.required" class="text-danger">Ce champ est obligatoire</small>
                            </div>
                          </div>
                          <div class="form-group col-6">
                            <label for="prenom" class="lab">Prénom :</label>
                            <input type="text" name="prenom" id="prenom" formControlName="prenom" class="form-control">
                            <div *ngIf="prenom?.touched">
                              <small *ngIf="prenom?.errors?.required" class="text-danger">Ce champ est obligatoire</small>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <!-- <div class="form-group col-6  ">
                            <label for="username" class="lab">Nom d'utilisateur :</label>
                            <input minlength="3" maxlength="20" type="text" name="username" id="username" formControlName="username"
                              class="form-control">
                            <div *ngIf="username?.errors ">
                              <small *ngIf="username?.errors?.required" class="text-danger">Ce champ est obligatoire</small>
                              <small *ngIf="username?.errors?.minlength" class="text-danger">
                                Le nom d'utilisateur doit contenir au moins 3 caractères
                              </small>
                              <small *ngIf="username?.errors?.maxlength" class="text-danger">
                                Le nom d'utilisateur doit contenir au plus 20 caractères
                              </small>
                              <small *ngIf="username?.errors?.invalid" class="text-danger">
                                Le nom d'utilisateur est déjà utilisé
                              </small>
                            </div>
                          </div> -->
                          <div class="form-group col-6">
                            <label for="password" class="lab">Mot de passe :</label>
                            <input type="password" name="password" minlength="6" id="password" formControlName="password"
                              class="form-control">
                            <div *ngIf="password?.errors ">
                              <small *ngIf="password?.errors?.required" class="text-danger">Ce champ est obligatoire</small>
                              <small *ngIf="password?.errors?.minlength" class="text-danger">
                                Le mot de passe doit contenir au moins 6 caractères
                              </small>
                            </div>
                          </div>
            
                        </div>
            
                        <div class="form-row">
                          <div class="form-group ">
                            <label for="type" class="email">E-mail :</label>
                            <br>
                            <input type="email" name="email" id="email" formControlName="email" class="form-control">
                            <div *ngIf="email?.touched && email?.invalid">
                                <small *ngIf="email?.errors?.required" class="text-danger">Ce champ est obligatoire<br></small>
                                <small *ngIf="email?.errors?.email" class="text-danger"> L'Email est invalide<br></small>
                            </div>
                          </div>
                        </div>
            
                        <div class="modal-footer">
                          <button type="submit" class="btn btn2" [disabled]="!editUserForm.valid">ENREGISTRER</button>
                          <button type="button" class="btn btn-danger" (click)="modal.dismiss()">FERMER</button>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!showAdminBoard" >
        <!-- <app-page404></app-page404> -->
        
        <meta http-equiv="refresh" content="0; url=http://localhost:4200/Page404">
 </div>
