.register{
    
  margin-top: 3%;
  padding: 3%;
}
.register-left{
  text-align: center;
  color: rgb(151, 68, 146);
  margin-top: 4%;
}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: rgb(209, 163, 205);
  font-weight: bold;
  color:white;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  border-radius: 20px;
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 60%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.btnRegister{
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: rgb(209, 163, 205);
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
  margin-left: 25%;
  transition: 0.4s ease-in-out;
}

.btnRegister:disabled{
  background: rgb(209, 163, 205);
  transition: 0.4s ease-in-out;
  cursor: not-allowed;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: rgb(209, 163, 205);
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: rgb(151, 68, 146);
  border: 2px solid rgb(209, 163, 205);
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: rgb(151, 68, 146);
}

.overlay{
  opacity:1;
  position:fixed;
  width:100%;
  height:100%;
  top:55px;
  left:0px;
  z-index:1000;
  display: flex;
  justify-content: center;
}